@import '../../style/global.scss';

.fullscreen__button {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  position: absolute;
  border: 0;
  top: 6rem;
  right: 2rem;
  z-index: 999;
}
.fullscreen__img {
  fill: rgba(205, 205, 205, 0.8);
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.3s ease;
}
.fullscreen__img:hover {
  cursor: pointer;
  transform: scale(0.95);
  width: 3.5rem;
  height: 3.5rem;
}