@import '../../style/global.scss';

.member{
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
   width: 320px;
   color: #fff;
   line-height: 25px;
   padding: 0 5px;
   &__image{

   }
   &__link{
      display: flex;
      align-items: center;
      column-gap: 8px;
      font-size: $mainFontSize;
      text-decoration: none;
      color: #fff;
      transition: opacity 0.3s ease;
      &:hover{
         cursor: pointer;
         opacity: 0.6;
      }
      &:before{
         content: url('../../assets/img/git.png');
         width: 30px;
         height: 30px;
      }
   }
   &__name{
      font-size: $addFontSize;
   }
}