@import './../../style/global.scss';
@import './../../style/mixin.scss';

.card {
  width: 90%;
  max-height: 449px;
  height: 494px;
  background-color: $whiteColor;
  padding: 9px;
  margin-bottom: 36px;
}
