@import '../../style/global.scss';

.user {
   z-index: 10;
   width: 400px;
   height: 199px;
   &__content {
      display: flex;
      column-gap: 4rem;
      &_img {
         width: 13.6rem;
         height: 13.6rem;
         border-radius: 100%;
         background-color: rgb(155, 148, 148);
      }
   }
   &__control{
      display: flex;
      margin-top: 2rem;
      column-gap: 4rem;
      &_change,
      &_exit {
         background-color: $darkOrangeColor;
         width: 13.6rem;
         height: 3rem;
         border-radius: 0.2rem;
         border: none;
         color: $whiteColor;
         font-size: $mainFontSize;
         transition: opacity 0.3s ease;
         cursor: pointer;
         &:hover {
            opacity: 0.7;
         }
      }
      &_change {
         &:disabled {
            opacity: 0.7;
            cursor: default;
         }
      }
   }
}
.fild {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   row-gap: 2rem;
   &__login,
   &__email{
      display: flex;
      align-items: flex-end;
      border-bottom: 0.5px solid $whiteColor;
      width: 21rem;
      &_descr {
         text-transform: capitalize;
         color: var(--desc-text-color);
         transition: color 0.3s linear;
         font-size: $mainFontSize;
      }
   }
   &__login {
      &-input{
         width: 15rem;
         color: $greyColor;
         font-size: $mainFontSize;
         padding-left: 10px;
         &:disabled{
            background-color: transparent;
            border: none;
            color: $whiteColor;
            font-size: $mainFontSize;
            padding-left: 10px;
         }
      }
   }
   &__email {
      &-input{
         font-family: 'Roboto';
         width: 14.5rem;
         color: $greyColor;
         font-size: $mainFontSize;
         padding-left: 10px;
         color: $colorForm;
         &:focus {
            outline: 0;
            border: 2px solid $lightOrangeColor;
         }
         &:disabled{
            background-color: transparent;
            border: none;
            font-size: $mainFontSize;
            padding-left: 10px;
            color: $whiteColor;
            &::placeholder {
               color: $whiteColor;
            }
         }
      }
   }
   &__password {
      opacity: 0;
      cursor: default;
      height: 2rem;
      border-radius: 2px;
      padding-left: 0.5rem;
      border: 1px solid $colorForm;
      &:focus {
         outline: 0;
         border: 2px solid $lightOrangeColor;
      }
   }
}
.save-updateuser {
   display: none;
   background-color: $lightOrangeColor;
   width: 13.6rem;
   height: 3rem;
   border-radius: 0.2rem;
   border: none;
   color: $whiteColor;
   font-size: $mainFontSize;
   transition: opacity 0.3s ease;
}
.password-active {
   opacity: 1;
   cursor: auto;
}
.save-active {
   display: block;
   cursor: pointer;
   transition: all 0.3s ease;
   &:hover {
      opacity: 0.7;
   }
}
.hidden-exit {
   display: none;
}

html[data-theme="original"] {
   --desc-text-color: #fff;
 }
 html[data-theme="dark"] {
   --desc-text-color: #de6600;
 }