@import '../../style/global.scss';

.logo {
   display: grid;
   grid-template-columns: 1fr 5rem;
   column-gap: 0.7rem;
   position: absolute;
   z-index: 0;
   top: 17px;
   left: 30px;
   margin-left: 63px;
   background-image: url('../../assets/img/figure.svg');
   height: 300px;
   width: fit-content;
   &__name {
      font-size: $headerFontSize;
      color: #fff;
      text-decoration: none;
      transition: opacity 0.3s ease;
      &:hover {
         opacity: 0.6;
      }
   }
}