@import '../../style/global.scss';

.logo {
   position: absolute;
   z-index: 10;
   top: 17px;
   left: 30px;
   margin-left: 63px;
   &__name {
      z-index: 2;
      font-size: $headerFontSize;
      color: #fff;
      text-decoration: none;
      transition: opacity 0.3s ease;
      margin-right: 0.7rem;
      &:hover {
         opacity: 0.6;
      }
   }
}
.logo__img {
   position: absolute;
   z-index: 0;
   top: 17px;
   left: 30px;
   margin-left: 63px;
   height: 30rem;
   width: 17.5rem;
   background-image: url('./img/figure.svg');
}
