@import '../../style/global.scss';

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   row-gap: 1.1rem;
   &__input-block {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 0.5rem;
   }
   &__img {
      position: absolute;
      left: -70px;
      top: -40px;
   }
   &__text{
      color: $darkOrangeColor;
      font-size: 2.4rem;
      margin: 3.5rem 0 2rem 0;
   }
   &__error-container {
      height: $errorMessageHeight;
   }
   &__error-message {
      font-size: 1.8rem;
      color: red;
   }
   &__email,
   &__password{
      width: 360px;
      height: 40px;
      background-color: rgba($color: #fff, $alpha: 0.7);
      border-radius: 2px;
      border: 0.5px solid #8F8C8C;
      padding-left: 10px;
      color: #6B6868;
      font-size: $mainFontSize;
   }
   &__button {
      display: flex;
      column-gap: 12px;
      &-reg,
      &-enter {
         height: 40px;
         border-radius: 2px;
         color: #fff;
         font-size: $mainFontSize;
         border: none;
         transition: opacity 0.3s ease;
         &:hover {
            cursor: pointer;
            opacity: 0.6;
         }
      }
      &-reg{
         width: 202px;
         background-color: $darkOrangeColor;
      }
      &-enter {
         width: 146px;
         background-color: $lightOrangeColor;
      }
   }
   .auth-link {
      text-decoration: none;
      color: $darkOrangeColor;
      font-size: 2rem;
   }
}