@import './../../style/global.scss';

.hard__word__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.hard__word__empty__text {
  color: $whiteColor;
  font-size: 2rem;
}
