@import './global.scss';
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 1rem; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(grey, 0.2);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $darkOrangeColor;
  border-radius: 0.5rem;
}

/* Стрелки */

::-webkit-scrollbar-button {
  width: 0rem;
  height: 0rem;
}