@import '../../style/global.scss';

.game-statistic {
   width: 400px;
   background-color: var(--game-statistic-background-color);
   transition: background-color 0.3s linear;
   border-radius: 5px;
   padding: 29px 25px;
   line-height: 25px;
   font-size: $mainFontSize;
   &__header {
      font-size: $addFontSize;
      color: $darkOrangeColor;
      margin-bottom: 18px;
   }
   &__item {
      margin-top: 12px;
      width: 346px;
      display: flex;
      justify-content: space-between;
      &_number {
         color: var(--statistic-number-color);
         transition: color 0.3s linear;
      }
      &_text {
         color: var(--statistic-text-color);
         transition: color 0.3s linear;
      }
   }
}

html[data-theme="original"] {
   --game-statistic-background-color: #ebd9c8; // $lightPinkColor

 }
 html[data-theme="dark"] {
   --game-statistic-background-color: rgb(24,24,24);
 }