@import '../../style/global.scss';
@import '../../style/mixin.scss';

.games {
   &__sprint {
      display: flex;
      position: relative;
      height: 550px;
      font-size: $mainFontSize;
      @media(max-width: 1280px) {
         height: 390px;
      }
      &_boy{
         width: 171px;
         height: 390px;
         @include adaptiv-value('width', 171, 87, 1);
         @include adaptiv-value('height', 390, 200, 1);
         background: url('../../assets/img/boy.svg') no-repeat;
         background-size: contain;
         position: relative;
         top: 25%;
      }
  
   }

}