@import './style/global.scss';
@import './style//scrollbar.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
   font-size: 10px;
}
body {
  background-color: $backgrounColor;
  font-family: 'Roboto';
  scrollbar-color: #458245 #714826; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;  /* толщина */
}
